.dashContainer{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex-wrap: wrap;
    background: hsl(0, 0%, 90%);
    padding: 5px 10px;
}

.dashCardContainer{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 10px;
    width : 230px;
}
